* {
    box-sizing: border-box;
    background: #fff5e6;
}

.container {
    margin: auto;
    max-width: 300px;
    align-items: center;
    background: #fff5e6;
    border-radius: 0 0 10px 10px;
}


/***********************
MAIN STYLES
***********************/

body {
    text-align: left;
    font-family: Oxygen;
    margin: 0;
    color:  #99c2ff;
    font-size: 15px;
    padding: 0;
}

h2 {
    background: #3385ff;
}



p {
    margin: 0 20px 40px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

hr {
    margin: 4px 0 4px .75em;
    border: solid 1px #000;
    width: 275.5px;
}

fieldset {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0;
}


/***********************
HEADER STYLES
***********************/

.heading {
    font-size: 18px;
    margin: 18px 0;
    font-weight: bold;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: #f2f2f2;
    background: #3385ff;
}

.banner {
    text-align: center;
    margin: 0 auto auto;
    padding-top: 18px;
}

/***************************
MAIN CONTENT
***************************/



.top-hr {
    border: solid 2px #000;
    margin-left: .75em;
    width: 273.5px;
    
}

label {
    margin: 9px 0;
    height: 15px;
}

.full-name {
    margin-top: 0;
}

input, select {
    margin: 0;
    width: 100%;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    margin-bottom: 9px;
}

#select,
#name,
#mail,
#tel,
#street,
#city,
#postcode {
    height: 50px;
    margin: 10px 0 12px;
}

input {
    padding-left: 10px;
    color: #178bff;
    font-style: oblique;
    font-size: 20px;
}

#select {
    padding-left: 10px;
    color: #178bff;
    font-style: oblique;
    font-size: 20px;
}

input:hover {
    background: #fdffb9;
    transition-duration: 1s;
}

input:focus {
    background: #fdffb9;
    transition-timing-function: ease-out;
    transition-duration: 2s;
}

#select:focus {
    background: #fdffb9;
    transition-timing-function: ease-out;
    transition-duration: 2s;
}

#select:hover {
    background: #fdffb9;
    transition-duration: 1s;
}

input::placeholder {
    color: #99c2ff;
    text-align: right;
    padding-right: 20px;
    font-style: italic;
}

.pctext {
    margin-right: 200px;
}

#postcode {
    width: 150px;
}

.selector {
    margin: auto 10px 0 0;
    width: auto;
    vertical-align: middle;
}

.block label {
    margin-bottom: px;
    vertical-align: middle;
}

.tag {
    margin: auto;
}

.subheader {
    margin: 9px 0 20px;
}

.newsletter {
    height: auto;
}

input.selector {
    width: auto;
}

#textarea {
    height: 100px;
    margin: 0 0 9px;
    padding-left: 0;
    width: 277.5px;
}

.submit {
    margin: 20px 0 0;
    height: 60px;
    background: orange;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 18px;
    width: 277.5px;
}

footer {
    text-align: center; 
    font-style: italic;
}

footer p {
    margin: 10px 0 180px;    
}

/***************************
BACKGROUND STYLES
***************************/


.wrapper {
    background: white;
    border-radius: 5px;
}

.wrapper .heading {
    background: white;
}

.subheader {
    background: white;
}

.fieldset-2 {
    background: white;
}

.fieldset-2 label {
    background: white;
}

.block {
    margin-bottom: 20px;
    background: white;
}

.newsletter {
    background: white;
}


/***************************
STYLES FOR LARGER SCREENS
***************************/

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 550px;
        margin: auto;
} 
    fieldset {
        width: 550px;
    }
    
    hr {
        width: 525.5px;
    }
    
    .top-hr {
        width: 523.5px;
    }
    
    
    h3.heading {
        font-size: 20px;
        margin-top: 55px;
    }
    
    #textarea, .submit {
        width: 527.5px;
    }
    
    /**************************
    FIELDSET 1
    **************************/

    input, #select {
        width: 70%;
        margin: 0;
    }
    
    .pctext {
        margin-right: 0;
    }
    
    label {
        width: 30%;
        height: 15px;
        float: left;
        margin: 0;
    }
    
    select,
    #name,
    #mail,
    #tel,
    #street,
    #city,
    #postcode {
        margin-top: 0;
    }
    
    .block-2 {
        margin-top: 20px;
    }
    
    .block-2 label {
        padding-top: 17.5px;
    }
    
    .subheader {
        width: 100%;
    }
    
    /**************************
    FIELDSET 2
    **************************/

    .block {
       display: flex;
    }

    
    
}